%h1 Charlie#home
%p Find me in app/views/charlie/home.html.haml

%p
	This is an example of a module including itself into a class.
	We use a slightly different paradigm here, where the module
	has a submodule "InstanceMethods".

.code
	%p
		@value =
		= @value
	%p
		@string =
		= @string
